@font-face {
    font-family: "Nunito";
    src: url("./fonts/Nunito-ExtraLight.ttf") format("truetype");
    font-weight: 200; // Extra Light
    font-style: normal;
  }
  
  @font-face {
    font-family: "Nunito";
    src: url("./fonts/Nunito-ExtraLightItalic.ttf") format("truetype");
    font-weight: 200; // Extra Light
    font-style: italic;
  }
  
  @font-face {
    font-family: "Nunito";
    src: url("./fonts/Nunito-Light.ttf") format("truetype");
    font-weight: 300; // Light
    font-style: normal;
  }
  
  @font-face {
    font-family: "Nunito";
    src: url("./fonts/Nunito-LightItalic.ttf") format("truetype");
    font-weight: 300; // Light
    font-style: italic;
  }
  
  @font-face {
    font-family: "Nunito";
    src: url("./fonts/Nunito-Regular.ttf") format("truetype");
    font-weight: 400; // Regular
    font-style: normal;
  }
  
  @font-face {
    font-family: "Nunito";
    src: url("./fonts/Nunito-Italic.ttf") format("truetype");
    font-weight: 400; // Regular
    font-style: italic;
  }
  
  @font-face {
    font-family: "Nunito";
    src: url("./fonts/Nunito-Medium.ttf") format("truetype");
    font-weight: 500; // Medium
    font-style: normal;
  }
  
  @font-face {
    font-family: "Nunito";
    src: url("./fonts/Nunito-MediumItalic.ttf") format("truetype");
    font-weight: 500; // Medium
    font-style: italic;
  }
  
  @font-face {
    font-family: "Nunito";
    src: url("./fonts/Nunito-SemiBold.ttf") format("truetype");
    font-weight: 600; // Semi Bold
    font-style: normal;
  }
  
  @font-face {
    font-family: "Nunito";
    src: url("./fonts/Nunito-SemiBoldItalic.ttf") format("truetype");
    font-weight: 600; // Semi Bold
    font-style: italic;
  }
  
  @font-face {
    font-family: "Nunito";
    src: url("./fonts/Nunito-Bold.ttf") format("truetype");
    font-weight: 700; // Bold
    font-style: normal;
  }
  
  @font-face {
    font-family: "Nunito";
    src: url("./fonts/Nunito-BoldItalic.ttf") format("truetype");
    font-weight: 700; // Bold
    font-style: italic;
  }
  
  @font-face {
    font-family: "Nunito";
    src: url("./fonts/Nunito-ExtraBold.ttf") format("truetype");
    font-weight: 800; // Extra Bold
    font-style: normal;
  }
  
  @font-face {
    font-family: "Nunito";
    src: url("./fonts/Nunito-ExtraBoldItalic.ttf") format("truetype");
    font-weight: 800; // Extra Bold
    font-style: italic;
  }
  
  @font-face {
    font-family: "Nunito";
    src: url("./fonts/Nunito-Black.ttf") format("truetype");
    font-weight: 900; // Black
    font-style: normal;
  }
  
  @font-face {
    font-family: "Nunito";
    src: url("./fonts/Nunito-BlackItalic.ttf") format("truetype");
    font-weight: 900; // Black
    font-style: italic;
  }