@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

:root {
  --c-white: #d8e4fc;
  --c-dark: #171718;
  --c-blue: #414ce4;
  --c-purple: #5e217e;
}

:root {
  --color-background: var(--c-white);
  --color-background1: var(--c-dark);
  --color-text: var(--c-dark);
  --color-active: var(--c-purple);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--c-dark);
    --color-background1: var(--c-white);
    --color-text: var(--c-white);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  width: 100%;
  font-family: "Nunito", sans-serif;
  font-weight: normal;
  font-size: 15px;
  color: var(--color-text);
  background: var(--color-background);
  transition: background-color 0.3s ease, color 0.3s ease;
}
