@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

:root {
  --c-white1: #d8e4fc;
  --c-white2: #ffffff;
  --c-dark1: #1f1d2b;
  --c-dark2: #252836;
  --c-gray1: #5d5d6d;
  --c-gray2: #808191;
  --c-purple: #6c5ecf;
  --c-blue: #08a0f7;
  --c-red: #ea5f5f;
}

:root {
  --color-background1: var(--c-white1);
  --color-background2: var(--c-white2);
  --color-text1: var(--c-dark1);
  --color-text2: var(--c-gray1);
  --color-icon: var(--c-gray2);
  --color-main: var(--c-purple);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background1: var(--c-dark1);
    --color-background2: var(--c-dark2);
    --color-text1: var(--c-white2);
    --color-text2: var(--c-gray1);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  width: 100%;
  font-family: "Nunito", sans-serif;
  font-weight: normal;
  font-size: 15px;
  color: var(--color-text1);
  background: var(--color-background1);
  transition: background-color 0.3s ease, color 0.3s ease;
}
