@import './fonts';
@import './elements';

:root {
  --color-pure-black: #000000;
  --color-black: #161819;
  --color-charcoal: #1A1D1E;
  --color-dark-gray: #26282B;
  --color-gray: #27292C;
  --color-light-gray: #77797A;
  --color-silver: #7B7D7E;
  --color-steel-gray: #8A97AA;
  --color-light-steel: #A8B4C8;
  --color-orange: #EB7D56;
  --color-purple: #6E5CF5;
  --color-blue: #5D9EF7;
  --color-gold: #F9DF7E;
  --color-lightest-gray: #F1F3F6;
  --color-light-blue: #ECF0F5;
  --color-white: #FFFFFF;

  --color-background-primary: var(--color-white);
  --color-background-secondary: var(--color-white);
  --color-text-primary: var(--color-pure-black);
  --color-text-secondary: var(--color-light-steel);
  --color-element-primary: var(--color-lightest-gray);
  --color-element-secondary: var(--color-light-blue);
  --color-element-tertiary: var(--color-light-blue);
  --color-icon-primary: var(--color-steel-gray);
  --color-icon-secondary: var(--color-blue);
  --color-accent-primary: var(--color-blue);
  --color-accent-secondary: var(--color-gold);
  --color-accent-tertiary: var(--color-orange);
  --color-accent-quaternary: var(--color-gold);

  --color-status-online: #88CD9B;
  --color-status-away: #EEAA41;
  --color-status-busy: #DE554E;
  --color-status-offline: #757D8A;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background-primary: var(--color-black);
    --color-background-secondary: var(--color-charcoal);
    --color-text-primary: var(--color-white);
    --color-text-secondary: var(--color-light-gray);
    --color-element-primary: var(--color-dark-gray);
    --color-element-secondary: var(--color-gray);
    --color-element-tertiary: var(--color-charcoal);
    --color-icon-primary: var(--color-silver);
    --color-icon-secondary: var(--color-silver);
    --color-accent-primary: var(--color-blue);
    --color-accent-secondary: var(--color-gold);
    --color-accent-tertiary: var(--color-orange);
    --color-accent-quaternary: var(--color-gold);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
}

body {
  height: 100dvh;
  width: 100%;
  color: var(--color-text-primary);
  background-color: var(--color-background-primary);
  transition: background-color 0.3s ease, color 0.3s ease;
  scroll-behavior: smooth;
}
