/* Import fonts and elements (in CSS, you use @import for importing stylesheets) */
@import './fonts';
@import './elements';

/* Color palette */
:root {
  --color-darker-black: #161819;
  --color-black: #242728;
  --color-darker-gray: #242728;
  --color-gray: #7B7D7E;
  --color-white: #FFFFFF;
  --color-blue: #5D9EF7;

  --color-background-main: var(--color-darker-black);
  --color-background-second: var(--color-black);
  --color-text-main: var(--color-white);
  --color-text-second: var(--color-gray);
  --color-icon: var(--color-gray);
  --color-elements: var(--color-darker-gray);
  --color-special-accent: var(--color-blue);

  --color-status-online: #64B385;
  --color-status-away: #EEAA41;
  --color-status-busy: #DE554E;
  --color-status-offline: #757D8A;
}

/* Global reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
}

/* Body styles */
body {
  height: 100dvh;
  width: 100%;
  color: var(--color-text-main);
  background-color: var(--color-background-main);
  transition: background-color 0.3s ease, color 0.3s ease;
}
